header{
    text-align: center;
    background-color: aqua;
    border-radius: 35px;
    text-shadow: 45px;
    padding: 10px;
    font-size: 50px;
    margin-bottom: 35px;
    margin-left: 250px;
    margin-right: 250px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
}
<<<<<<< HEAD
ul li a {
    color:white;
    font-size: 35px;
    position: absolute;
    margin-inline-end:35px
}
ul :hover{
    color: yellow;
}
body{
   background-color: black;
}
=======
>>>>>>> 597ef9f856220396a970ca72160a86149305be0c
.Principal{
    position: absolute;
    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 30px;
    background-color: aqua;
    font-size: 20px;
    padding: 20px;
    
}
body{
    background-color: black;
}
.pie{
    color: white;
    border-radius: 35px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    position: relative;
    top: 300px;
}

